@import '../src/componentes/Header/estilos.scss';

@media (max-width:410px) {
    .carousel-caption h3 {
        font-size: 12px !important;
        font-weight: bold;
        margin-bottom: 0px;
      }
  
      .carousel-caption p {
        font-size: 10px !important;
        margin-bottom: 18px;
      }
    }
