@import '../src/scss/overrides';

@media(max-width:410px) {
    .But-read {
    padding: 1.6px;
    margin-top: -35px;
    font-size: 7.8px;
    }
    .carousel-indicators li {
    width: 1px;
    height: 4px;
    border-radius: 15px;
    border: none;
    margin-top: 36px;
    }
}